<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
//if add another ejs file in this ejs file
//mske a folder in view folder named inculed
// there you add the file write"<%- inculed("includes/filename.ejs") %>" ;


    <style>
        *{
            background: linear-gradient(45deg, rgb(43, 43, 186),rgb(111, 38, 180));
            color: white;
        }
    </style>
    <h1>love you 12*51</h1>
    <h1><%= 12*51 %></h1>
    <h1><%= 'pawan'.toUpperCase() %></h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id pariatur mollitia minima ipsa eaque iusto quae sequi esse voluptas odit delectus aliquam labore veritatis porro ducimus voluptatibus, aperiam deserunt ratione.</p>
    <button>click me</button>

</body>
</html>